@import url(./partials/header.css);
@import url(./partials/container.css);
@import url(./partials/section.css);
@import url(./partials/footer.css);

:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);

  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(206, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  --primary-font-family: 'Barlow', sans-serif;
  --secondary-font-family: 'Fraunces', sans-serif;

  --section-image-height: 312px;

  --svg-footer-color: brightness(0) saturate(100%) invert(26%) sepia(9%)
    saturate(2405%) hue-rotate(116deg) brightness(99%) contrast(88%);
  --svg-hover-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(7500%) hue-rotate(92deg) brightness(105%) contrast(100%);

  --desktop-breakpoint: 530px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font-family);
}

/* others */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
